@import url("https://use.typekit.net/qfe6cro.css");

:root {
	--font-size: 20px;
	--line-height: 125%;
	--color: rgb(243, 243, 243);

	--gutter: calc(var(--font-size) * 2)
}



body {
	font-size: var(--font-size);
	line-height: var(--line-height);
	padding-top: calc(var(--gutter) * 3);
	padding-right: var(--gutter);
	padding-left: var(--gutter);
	padding-bottom: calc(var(--gutter) * 2);
	display: flex;
	flex-direction: column;
	row-gap: var(--gutter);
	justify-content: space-between;
	background-color: #181818;
	color: var(--color);
	font-family: "peridot-pe-variable", sans-serif;
}

a {
	color: rgb(204, 208, 223);
	text-decoration: underline;
}

h1 {
	font-size: calc(var(--font-size) * 4);
	line-height: calc(var(--line-height) * .7);
	font-variation-settings: "wght" 500;
	text-transform: uppercase;
}

h2 {
	font-size: calc(var(--font-size) * 6);
	line-height: calc(var(--line-height) * .7);
	text-transform: uppercase;
}

footer {
	font-size: calc(var(--font-size) * 0.75);
	font-weight: 200;
}

img {
	object-fit: cover;
}

.type {
	text-transform: uppercase;
	color: gray;
}

/* Setting up the position of blocks */

.content-block {
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 850px;
	display: flex;
	align-items: center;
}

.image, .data, .link, .pdf, .text {
	width: 50%;
}

.data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-top: calc(var(--gutter) * 6);
	padding-left: calc(var(--gutter) * 0.5);
	padding-bottom: calc(var(--gutter) * 0.5);
}

@media (max-width: 600px) {
	:root {
		--font-size: 16px;
	}

	body {
		/* background-color: tomato; */
	}

	.content-block {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.image, .data, .link, .pdf, .text {
		width: 100%;
	}

	.data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding-top: calc(var(--gutter) * 1);
		padding-left: 0;
	}

	.content-block div {
		padding-bottom: calc(var(--gutter) * 1);
	}
}